/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 18px/25px Helvetica, Helvetica Neue, Arial;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'alex_brushregular';
    src: url('fonts/alexbrush-regular-otf-webfont.eot');
    src: url('fonts/alexbrush-regular-otf-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/alexbrush-regular-otf-webfont.woff') format('woff'),
         url('fonts/alexbrush-regular-otf-webfont.ttf') format('truetype'),
         url('fonts/alexbrush-regular-otf-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {margin: 0 !important}
#global {
    padding-bottom: 6em; /* pour ne pas aller au dessus du footer */
}
#global {
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  max-width: 750px;
  width: 55%;
  margin: 2em 1em 5em 35%;
}
footer {
  font-size: 60%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
}
#copyleft img {
  margin: 0;
  float: left;
}
#copyleft {
  margin: 5px;
}
html {
  background: url('/img/lcottereau_irlande.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  background-color: black;
}
a {
  color: #ccf;
}
a:visited {
  color: white;
}
a:hover {
  text-decoration: none;
}
h1 {
  margin: 0;
  padding: 0.1em 0 0 0;
  font-family: 'alex_brushregular';
  font-size: 5.2em;
  font-weight: normal;
  line-height: 1;
}
nav ul {
  padding: 0;
  width: 512px;
  margin: 1em auto;
}
nav li {
  float: left;
}
nav img {
  border-radius: 10px;
}
nav a:hover img {
  background-color: rgba(255, 255, 255, 0.2);
}








/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen and (max-width: 1000px) {
  html {
    background-image: none;
    background-color: white;
    color: black;
  }
  header {
    background: url('/img/lcottereau_irlande_small.jpg') no-repeat center top;
    padding: 1em 1em 1em 30%;
    border-bottom: 2px black solid;
  }
  h1 {
    font-size: 5em;
    margin-left: 10%;
    margin-right: 10%;
  }
  #global {
    border-radius: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  article, nav {
    margin: 0 10%;
  }
  a {
    color: black;
  }
  a:visited {
    color: black;
  }
  nav img {
    background-color: black;
    margin: 5px;
  }
  nav ul {
    width: 100%;
  }
  footer {
    position: relative;
    background-color: white;
    border-top: 2px black solid;
    padding: 0;
  }
  #global {
    padding-bottom: 2em;
  }
}

@media only screen and (max-width: 600px) {
  header {
    padding: 1em;
    background-image: none;
  }
  h1 {
    font-size: 4em;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
