{% if category_sub[1] != 'blog/index.html' %}
  <ul id="sous-categories">
  {% for c in category_sub %}
    {% if c != '' %}
      {% for p in site.pages %}
        {% if p.path == c %}
          <li><a href="{{ p.url }}">{{ p.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
  </ul>
{% endif %}

<ul id="posts">
{% for post in site.categories[category_index] %}
   <li><span>{{ post.date | localize: "%d/%m/%Y" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
