{% if page.image %}
  {% capture bg_url %}/img/bg/{{ page.image }}{% endcapture %}
{% else %}
  {% if category_index %}
    {% assign cat = category_index %}
  {% else %}
    {% assign cat = page.categories.last %}
  {% endif %}
  {% capture bg_url %}/img/bg/category-{{ cat }}.jpg{% endcapture %}
{% endif %}

{% if bg_url %}
    style="
        background-image: url('{{ bg_url }}');
        background-image: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,0.8)), url('{{ bg_url }}');'
        background-image: linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,0.8)), url('{{ bg_url }}');'
    "
{% endif %}
